.products-container{
    display: flex;
   
    align-items: center;
    justify-content: center;
    
   
}
.detail-page-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 80vh;        
  width: 100%;
}