.item_detail_container {
    display: flex;
    border: 1px solid rgb(81, 79, 79);
    border-radius: 10px;
    max-width: 1200px;
    overflow: hidden;
    gap: 20px;
    align-items: stretch;
    margin: auto;
}

.item_detail_aside,
.item_detail_aside_contador {
    flex: 1;
    min-width: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
}



.item_info_container {
    width: 100%;
    width: 100%;
    display: flex;  
    flex-direction: column;

}

.item_detail_contador {
    display: flex;
    margin-top: auto;



}



.item-tittle-detail {
    font-size: 40px;

    margin-bottom: 10px;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}

.item-precio-detail {
    font-size: 50px;
    margin-bottom: 10px;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}

.img-detail {
    width: 400px;
    height: 400px;
    display: flex;
    object-fit: contain;
    overflow: hidden;
    border: 1px solid #eee;
    background-color: #f9f9f9;
}

.img-container {
    width: 100%;
    display: flex; 
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}